@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
@await Component.InvokeAsync("_HeaderViewComponentPartial")
<body>

    <!--header-->
    @await Component.InvokeAsync("_NavbarViewCompenentPartial")
    <!--/header-->
  @*   <section class="w3l-about-breadcrumb">
        <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
            <div class="container pt-lg-5 py-3">
            </div>
        </div>
    </section>
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="~/starter/index.html">Home</a></li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Pages</li>
                <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Contact Us</li>
            </ul>
        </div>
    </section> *@
    <!-- contacts -->
    @RenderBody() 
    <!-- //contacts -->
    <!-- footers 20 -->
 
    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

    @await Component.InvokeAsync("_DefaultScriptComponentPartial")


</body>

</html>