
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Agent/Views/LayoutAgent/Index.cshtml";
}

@* /AgentDashboard *@

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">

            <!-- Sale & Revenue Start -->
            @await Component.InvokeAsync("_AgentDashboardStatisticComponenetPartial")
            <!-- Sale & Revenue End -->

            <!-- Recent Sales Start -->
            @await Component.InvokeAsync("_AgentLast5ProductComponenetPartial")

            <!-- Recent Sales End -->

        </div>
    </div>
</div>

